# Global owners for SIG TFX-Addons
* @rcrowe-google @mihaimaruseac @theadactyl

# Core team for reviews of project proposals
/proposals/ daikeshi@gmail.com casassg hanneshapke junbo.park@openx.com larry.price@openx.com marcromeyn@gmail.com michalbrys nle@twitter.com olgai@spotify.com pselden rclough samueln@spotify.com

# Sci-Kit Learn Example using the Penguins dataset
/projects/examples/sklearn_penguins/ @TheMichaelHu @1025kb