name: Create Minor Release
on:
  workflow_dispatch:
     
jobs:
  createrelease:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Set minor version
      id: set-version
      run: |
        echo "::set-output name=version::$(python ./.github/workflows/prepare_minor_release.py)"
    - name: Create release branch
      run: git checkout -b release/v${{ steps.set-version.outputs.version }}
    - name: Initialize mandatory git config
      run: |
       git config user.name "GitHub Actions"
       git config user.email noreply@github.com
    - name: Commit changelog and manifest files
      id: make-commit
      run: |
        git add tfx_addons/version.py
        git commit --message "Prepare release {{ steps.set-version.outputs.version }}"
        echo "::set-output name=commit::$(git rev-parse HEAD)"
    - name: Push new branch
      run: git push origin release/v${{ steps.set-version.outputs.version }}
    - uses: ncipollo/release-action@v1
      with:
        name: ${{ steps.set-version.outputs.version }}.0-rc0
        commit: ${{ steps.make-commit.outputs.commit }}
        prerelease: true
        draft: true
        tag: ${{ steps.set-version.outputs.version }}.0-rc0