name: Release TFX Addons package to PyPI and TestPyPI

on:
  push:
    paths:
      - 'tfx_addons/**'
      - 'setup.py'
      - 'pyproject.toml'
    branches:
      - main
      - r*
  release:
    types: [published]
    tags:
      - v*

jobs:
  build-and-publish:
    name: Build TFX Addons PyPI package and release to PyPI and TestPyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install pypa/build
      run: python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python -m build --sdist --wheel --outdir dist/ .
    - name: Publish distribution TFX Addons package to Test PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        skip_existing: true
    - name: Publish distribution TFX Addons package to PyPI
      if: github.event_name == 'release'
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
    - name: Upload files to a GitHub release
      uses: svenstaro/upload-release-action@2.2.1
      if: github.event_name == 'release'
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
